body{
	background-color:#3E8080 ; 
}

#modal1{
	 border-radius: 10px;
	 background-color: #E1EBEB;
}

#modal-content{
	height: 100%;
	background-color: #E1EBEB;
}

.container{
	border-radius: 10px; 
	/*background-color: #E38888;*/
	width:95%; 
	height: 80%;
	 margin-top:20px;
	 padding-top: 25px; 
}