body{
	background-color:#3E8080 ; 	
}
/*#75FFFF this blue was to bright maybe use else where?*/
nav{
	background-color: #ffa587;
	border-radius: 5px;
}
#loginNav{
		color:#2B4851;

}
#modal1{
	 margin-top: 5%;
	 border-radius: 10px;
	 background-color: #E1EBEB;
	  overflow:hidden;
}

#modal-content1{
	width: 100%;
	height: 100%;
	background-color: #E1EBEB;
}

#mainContainer{
	border-radius: 10px; 
	background-color: #ffa587;
	width:95%; height: 80%; 
	margin-top:20px;
	padding-top: 25px; 
}

#Btns{
	background-color:#87e1ff;
	color: black;
	border-radius: 5px;
}