body {
    background-color: #75FFFF;
}


/*#75FFFF this blue was to bright maybe use else where?*/

#modal1 {
    margin-top: 5%;
    border-radius: 10px;
    background-color: #E1EBEB;
    overflow: hidden;
}

#modal-content {
    width: 100%;
    height: 100%;
    background-color: #E1EBEB;
}

#main-container {
    border-radius: 10px;
    background-color: #ffa587;
    width: 95%;
    height: 80%;
    margin-top: 20px;
    padding-top: 25px;
}

img {
   
    height: 60%;
    width: 60%;
}

#clickMe {
	 opacity: 0.5;
}

#resizePics {
    height: 20%;
    width: 20%;
}

#name_cost,
#facts {
    background-color: white;
    border-radius: 5px;
}










 